<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <title>Мои тайтлы</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/my_titles.css') }}">
    <style>
        div[id="{{ id }}"] {
            border: 5px solid hwb(25 0% 20% / 1);
            background-color: hwb(0 22% 100% / 1);
            border-radius: 10px;
            height: 40px;
            min-width: 40px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            }
    </style>
</head>

<body>
    <div class="title">Очень большой, невероятно удобный аниме каталог с простым и понятным интерфейсом
        переродился в интернете, как верный спутник самого красивого и умного Отаку, или же просто: BanAn</div>

    <div class="center">
        <div class="left-pole">
            <div class="flex_box">
                <div class="menu">
                    <div class="indent"></div>
                    <div class="bottom">
                        <a href="{{ url_for('main', id=1) }}" class="bottom">Главная</a>
                    </div>

                    <div class="indent"></div>
                    <div class="bottom" id="genres_bottom">
                        <a class="bottom">Жанры</a>
                    </div>
                    <div class="genres_box">
                        <div class="genres_box_1">
                        {% for gen in genres_list[:9] %}
                            <div class="indent"></div>
                            <div class="any_genres" id="genre_{{ genres_list.index(gen) }}">
                                <a href="{{ url_for('genres', gen_id=genres_list.index(gen)+1, id=1) }}" class="any_genres">{{ gen }}</a>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="genres_box_1">
                        {% for gen in genres_list[9:18] %}
                            <div class="indent"></div>
                            <div class="any_genres" id="genre_{{ genres_list.index(gen) }}">
                                <a href="{{ url_for('genres', gen_id=genres_list.index(gen)+1, id=1) }}" class="any_genres">{{ gen }}</a>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="genres_box_1">
                        {% for gen in genres_list[18:] %}
                            <div class="indent"></div>
                            <div class="any_genres" id="genre_{{ genres_list.index(gen) }}">
                                <a href="{{ url_for('genres', gen_id=genres_list.index(gen)+1, id=1) }}" class="any_genres">{{ gen }}</a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="indent"></div>
                    <div class="bottom">
                        <a href="{{ url_for('search_by_picture') }}" class="bottom">Найти кадр</a>
                    </div>

                    {% if current_user.is_authenticated %}
                        <div class="indent"></div>
                        <div class="bottom">
                            <a href="{{ url_for('my_titles', category='in-viewing', id=1) }}" class="bottom">Мои тайтлы</a>
                        </div>

                        <div class="indent"></div>
                        <div class="bottom">
                            <a href="{{ url_for('settings') }}" class="bottom">Настройки</a>
                        </div>
                    {% endif %}

                    <div class="indent"></div>
                    <div class="bottom">
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}" class="bottom">Выход</a>
                        {% else %}
                        <a href="{{ url_for('login') }}" class="bottom">Вход</a>
                        {% endif %}
                    </div>
                    <div class="indent"></div>
                </div>

                <div class="indent"></div>

                <form class="search" action="{{ url_for('search', id=1) }}" method="post" novalidate>
                    <div class="indent"></div>
                    <div class="search">
                        <input id="search" type="text" name="search_data" placeholder="Поиск" autocomplete="off">
                    </div>
                    <div class="indent"></div>
                </form>
            </div>
        </div>

        <div class="body">
            <div class="indent_body"></div>

            <div class="change_category">
                {% if category == "already-viewed" %}
                    <div class="any_category_press" id="already-viewed">
                        <a href="{{ url_for('my_titles', category='already-viewed', id=1) }}" class="any_category">Просмотренные</a>
                    </div>
                {% else %}
                    <div class="any_category" id="already-viewed">
                        <a href="{{ url_for('my_titles', category='already-viewed', id=1) }}" class="any_category">Просмотренные</a>
                    </div>
                {% endif %}
                {% if category == "in-viewing" %}
                    <div class="any_category_press" id="in-viewing">
                        <a href="{{ url_for('my_titles', category='in-viewing', id=1) }}" class="any_category">В процессе</a>
                    </div>
                {% else %}
                    <div class="any_category" id="in-viewing">
                        <a href="{{ url_for('my_titles', category='in-viewing', id=1) }}" class="any_category">В процессе</a>
                    </div>
                {% endif %}
                {% if category == "want-to-view" %}
                    <div class="any_category_press" id="want-to-view">
                        <a href="{{ url_for('my_titles', category='want-to-view', id=1) }}" class="any_category">Хочу посмотреть</a>
                    </div>
                {% else %}
                    <div class="any_category" id="want-to-view">
                        <a href="{{ url_for('my_titles', category='want-to-view', id=1) }}" class="any_category">Хочу посмотреть</a>
                    </div>
                {% endif %}
            </div>

            {% if not titles %}
            <div class="indent_body"></div>
            <div class="nothing">
                Здесь пока пусто :(
            </div>
            <div class="indent_body"></div>
            {% else %}
            {% for anime in titles %}
                <div class="indent_body"></div>
                <div class="anime">
                    <div class="cover">
                        <img class="cover" src="https://v5.vost.pw/{{ anime.cover }}">
                    </div>
                    <div class="spaсe"></div>
                    <div class="information">
                        <div class="anime_name">
                            <a href="{{ url_for('title', id=anime.id) }}" class="anime_name">{{ anime.name }}</a>
                        </div>

                        {% for season in anime.seasons %}
                        {% if season.id == max_update(anime) %}
                        <div class="series">Последний прогресс: {{ season.season }}
                            <span style="color: hwb(25 0% 20% / 1);">{{ season.series_now }} из {{ season.series_all }}</span>
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% if current_user.is_authenticated %}
                        <div class="bottoms_for_subscribe">
                            {% if (anime.id, ) in list_titles_id and current_user.users_titles[list_titles_id.index((anime.id, ))].seria_id == get_last_seria(anime) %}
                            <div class="to_add_in_my_list_press" id="viewed_{{ anime.id }}">Уже смотрел</div>
                            {% else %}
                            <div class="to_add_in_my_list" id="viewed_{{ anime.id }}">Уже смотрел</div>
                            {% endif %}
                            <div class="spaсe"></div>
                            {% if (anime.id, ) in list_titles_id and not current_user.users_titles[list_titles_id.index((anime.id, ))].seria_id %}
                            <div class="to_add_in_my_list_press" id="want_{{ anime.id }}">Хочу посмотреть</div>
                            {% else %}
                            <div class="to_add_in_my_list" id="want_{{ anime.id }}">Хочу посмотреть</div>
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if category == 'want-to-view' %}
                            <div class="delete_from_my_titles" id="delete_from_my_{{ anime.id }}">Удалить</div>
                        {% elif category == 'in-viewing' %}
                            <div class="my_progres_in_title">Остановился на:<br>{{ get_stop_view_data(anime) }}</div>
                        {% endif %}

                        <div class="indent_body"></div>
                        <div class="year">Год выхода: {{ anime.year }}</div>
                        <div class="genre">Жанры: {{ anime.genre }}</div>
                        <div class="rating">Рейтинг: {{ anime.rating }}</div>
                        <div class="seasons">
                            <details>
                                <summary>Сезоны:</summary>
                                {% for season in anime.seasons %}
                                <div>{{ season.season }}
                                    <span style="color: hwb(25 0% 20% / 1);">{{ season.series_now }} из {{ season.series_all }}</span>
                                </div>
                                {% endfor %}
                            </details>
                        </div>
                    </div>
                </div>
                <details>
                    <summary class="description">Описание:</summary>
                    <div class="description">{{ anime.description }}</div>
                </details>
                <div class="indent_body"></div>
                {% if anime != titles[-1] %}
                    <div class="line"></div>
                {% endif %}
            {% endfor %}
            {% endif %}

            <div class="pages">
                {% if amount_pages > 1 %}
                {% if amount_pages <= 11 %}
                    <div class="space_page"></div>
                    {% for i in range(1,amount_pages+1) %}
                        <div class="page" id="{{ i }}">
                            <a href="{{ url_for('my_titles', category=category, id=i) }}" class="pages">{{ i }}</a>
                        </div>
                        <div class="space_page"></div>
                    {% endfor %}
                {% else %}
                    {% if id < 7 %}
                        <div class="space_page"></div>
                        {% for i in range(1,11) %}
                            <div class="page" id="{{ i }}">
                                <a href="{{ url_for('my_titles', category=category, id=i) }}" class="pages">{{ i }}</a>
                            </div>
                            <div class="space_page"></div>
                        {% endfor %}
                        ...
                        <div class="space_page"></div>
                        <div class="page">
                            <a href="{{ url_for('my_titles', category=category, id=amount_pages) }}" class="pages">{{ amount_pages }}</a>
                        </div>
                        <div class="space_page"></div>
                    {% else %}
                        <div class="space_page"></div>
                        <div class="page">
                            <a href="{{ url_for('my_titles', category=category, id=1) }}" class="pages">1</a>
                        </div>
                        <div class="space_page"></div>
                        ...
                        <div class="space_page"></div>
                        {% if id + 5 < amount_pages %}
                            {% for i in range(id-4,id+5) %}
                                <div class="page" id="{{ i }}">
                                    <a href="{{ url_for('my_titles', category=category, id=i) }}" class="pages">{{ i }}</a>
                                </div>
                                <div class="space_page"></div>
                            {% endfor %}
                            ...
                            <div class="space_page"></div>
                            <div class="page">
                                <a href="{{ url_for('my_titles', category=category, id=amount_pages) }}" class="pages">{{ amount_pages }}</a>
                            </div>
                            <div class="space_page"></div>
                        {% else %}
                            {% for i in range(amount_pages-9,amount_pages+1) %}
                                <div class="page" id="{{ i }}">
                                    <a href="{{ url_for('my_titles', category=category, id=i) }}" class="pages">{{ i }}</a>
                                </div>
                                <div class="space_page"></div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% endif %}
            </div>
            <div class="indent_body"></div>
        </div>
        <div class="right-pole"></div>
    </div>

    <div class="colontitul">
        <a class='colontitul' href="{{ url_for('oferta') }}">Пользовательское соглашение</a>
        <a class='colontitul' href="{{ url_for('privacy') }}">Политика конфиденциальности</a>
        <a class='colontitul' href="{{ url_for('right_holders') }}">Для правообладателей</a>
    </div>

    <script src="{{ url_for('static', filename='js/my_titles.js') }}"></script>
</body>
</html>