<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
    <style>
      {% for field in form if field.name != "csrf_token" %}
          #{{ field.name }}_error { 
      		font-size: 20px;
      		color: red;
      		}
          {% if field.name not in ["check_box", "submit"] %}
              input[id="{{field.name}}"] { 
				color: hwb(25 0% 20% / 1);
				background-color: hwb(0 22% 100% / 1);
				border-radius: 20px;
				width: 100%;
				height: 50px;
				font-size: 30px;
				}
          {% endif %}
      {% endfor %}
    </style>
  </head>

<body>

<div class="title">Очень большой, невероятно удобный аниме каталог с простым и понятным интерфейсом
        переродился в интернете, как верный спутник самого красивого и умного Отаку, или же просто: BanAn</div>

<form id="form" action="" method="post">

    {{ form.csrf_token() }}

    <div class="form_head">Регистрация</div>

    {% for field in form if field.name != "csrf_token" %}
		<div class="form_field">
		  {% if field.name not in ["submit", "check_box"] %}
			  <div class="lable">{{ field.label() }}</div>
			  <div class="field">{{ field(placeholder=placeholders[field.name]) }}</div>
		  {% elif field.name == "check_box" %}
			  <div class="field_ch_b">
				<div class="check_box">{{ field }}</div>
				<div class="lable_ch_b">
				  {{ field.label() }}
				  <a href="{{ url_for('oferta') }}">пользовательское соглашение</a> и
				  <a href="{{ url_for('privacy') }}">политику конфиденциальности</a>
				</div>
			  </div>
		  {% elif field.name == "submit" %}
			  <div class="submit">{{ field }}</div>
		  {% endif %}
		  <small id="{{ field.name }}_error"></small>
		  {% for error in field.errors %}
			  <script>
				const field = document.getElementById("{{ field.name }}");
				field.classList.add('invalid');
				{{ field.name }}_error.innerHTML = "{{ error }}";
			  </script>
		  {% endfor %}
		</div>
    {% endfor %}

</form>

<script src="{{ url_for('static', filename='js/registration.js') }}"></script>

</body>
</html>