<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>

<body>
    <div class="title">Очень большой, невероятно удобный аниме каталог с простым и понятным интерфейсом
        переродился в интернете, как верный спутник самого красивого и умного Отаку, или же просто: BanAn</div>
    <div class="text">
        <div class="text_head">Восстановление пароля</div>
        <div class="text_body">
            <form action="{{ url_for('reset_password') }}" method="post" novalidate>
                <div class="email">
                    <input id="email" type="email" name="email" autocomplete="off" placeholder="Введите ваш e-mail">
                </div>
                {% for category, message in  get_flashed_messages(with_categories=true) %}
			        {% if category == 'error_email' %}
				        <spam class="error_email">{{ message }}</spam>
			        {% endif %}
		        {% endfor %}
            </form>
        </div>
        <div class="text_coln">{{ colontitul }}</div>
    </div>>
</body>
</html>