<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск тайтла по кадру</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_by_picture.css') }}">
</head>

<body>
    <div class="title">Очень большой, невероятно удобный аниме каталог с простым и понятным интерфейсом
        переродился в интернете, как верный спутник самого красивого и умного Отаку, или же просто: BanAn</div>
    <div class="center">
        <div class="left-pole">
            <div class="flex_box">
                <div class="menu">
                    <div class="indent"></div>
                    <div class="bottom">
                        <a href="{{ url_for('main', id=1) }}" class="bottom">Главная</a>
                    </div>

                    <div class="indent"></div>
                    <div class="bottom" id="genres_bottom">
                        <a class="bottom">Жанры</a>
                    </div>
                    <div class="genres_box">
                        <div class="genres_box_1">
                        {% for gen in genres_list[:9] %}
                            <div class="indent"></div>
                            <div class="any_genres" id="genre_{{ genres_list.index(gen) }}">
                                <a href="{{ url_for('genres', gen_id=genres_list.index(gen)+1, id=1) }}" class="any_genres">{{ gen }}</a>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="genres_box_1">
                        {% for gen in genres_list[9:18] %}
                            <div class="indent"></div>
                            <div class="any_genres" id="genre_{{ genres_list.index(gen) }}">
                                <a href="{{ url_for('genres', gen_id=genres_list.index(gen)+1, id=1) }}" class="any_genres">{{ gen }}</a>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="genres_box_1">
                        {% for gen in genres_list[18:] %}
                            <div class="indent"></div>
                            <div class="any_genres" id="genre_{{ genres_list.index(gen) }}">
                                <a href="{{ url_for('genres', gen_id=genres_list.index(gen)+1, id=1) }}" class="any_genres">{{ gen }}</a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="indent"></div>
                    <div class="bottom">
                        <a href="{{ url_for('search_by_picture') }}" class="bottom">Найти кадр</a>
                    </div>

                    {% if current_user.is_authenticated %}
                        <div class="indent"></div>
                        <div class="bottom">
                            <a href="{{ url_for('my_titles', category='in-viewing', id=1) }}" class="bottom">Мои тайтлы</a>
                        </div>

                        <div class="indent"></div>
                        <div class="bottom">
                            <a href="{{ url_for('settings') }}" class="bottom">Настройки</a>
                        </div>
                    {% endif %}

                    <div class="indent"></div>
                    <div class="bottom">
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}" class="bottom">Выход</a>
                        {% else %}
                        <a href="{{ url_for('login') }}" class="bottom">Вход</a>
                        {% endif %}
                    </div>
                    <div class="indent"></div>
                </div>

                <div class="indent"></div>

                <form class="search" action="{{ url_for('search', id=1) }}" method="post" novalidate>
                    <div class="indent"></div>
                    <div class="search">
                        <input id="search" type="text" name="search_data" placeholder="Поиск" autocomplete="off">
                    </div>
                    <div class="indent"></div>
                </form>
            </div>
        </div>

        <div class="body">
            <div class="text_head">Поиск тайтла по кадру</div>
            <div class="text_body">

                <form action="{{ url_for('search_by_picture') }}" method="POST" enctype="multipart/form-data">
                    <input class='url' type="text" name="image" placeholder="Введите URL картинки" autocomplete="off">
                    <input id="real-input" type="file" name="image" hidden>
                    <label for="real-input" class="file">
                        Загрузить файл
                    </label>
                    <input class="submit" type="submit" >
                </form>
                <div class="indent_body"></div>

                {% if animes_data %}
                    {% if animes_data['error'] %}
                    <div class="error">
                        <div class="indent_body"></div>
                        Ни чего не найдено! Попробуйте использовать другю ссылку или файл.
                        <div class="indent_body"></div>
                    </div>
                    {% elif animes_data['result'] %}
                        {% for elem in animes_data['result'] %}
                            <div class="indent_body"></div>
                            <div class="name">
                                <a class="name" href="https://anilist.co/anime/{{ elem['anilist'] }}/">{{ elem['filename'] }}</a>
                            </div>
                            <div class="similarity">
                                Совпадение: {{ int(elem['similarity']*100) }}%
                            </div>
                            <div class="seria">
                                Серия: {{ elem['episode'] }}, время: {{ int(elem['from']//60) }}:{{ int(elem['from']%60//10) }}{{ int(elem['from']%60%10) }}
                            </div>
                            <div class="vedeo">
                                Видео отрывок:
                            </div>

                            <video class="player" src="{{ elem['video'] }}" controls></video>
                            <div class="indent_body"></div>
                            {% if elem != animes_data['result'][-1] %}
                                <div class="line"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}

            </div>
        </div>
        <div class="right-pole"></div>
    </div>

    <div class="colontitul">
        <a class='colontitul' href="{{ url_for('oferta') }}">Пользовательское соглашение</a>
        <a class='colontitul' href="{{ url_for('privacy') }}">Политика конфиденциальности</a>
        <a class='colontitul' href="{{ url_for('right_holders') }}">Для правообладателей</a>
    </div>

    <script src="{{ url_for('static', filename='js/search_by_picture.js') }}"></script>

</body>
</html>